/* Estilos generales */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  background: url(./imagenes/photo.jpg)no-repeat center center fixed;
  background-size: cover;
}

/* Estilos para la barra de navegación */
nav {
font-size: 17px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
width: 100%;
}

nav ul {
list-style: none;
padding: 0;
margin: 0;
}

nav ul li {
display: inline;
margin-left: 10px;
}

nav ul li a {
color: white;
text-decoration: none;
padding: 10px 20px;
}

nav ul li a:hover {
color: white;
}

.nav-brand {
margin-left: 0;
width: auto;
height: 50px;
/* Transición para el tamaño */
transition: width 0.3s ease, height 0.3s ease;
}

/*Integrantes*/

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  /*background-color: white;*/
  border-radius: 10px;
  overflow: hidden;
}
