/* Estilos generales */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  background: url(./imagenes/photo.jpg)no-repeat center center fixed;
  background-size: cover;
}

/* Estilos para la barra de navegación */
nav {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 15px 20px;
}

nav ul li a:hover {
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  color: black;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  transition-duration: 0.1s;
}

.nav-brand {
  margin-left: 0;
  width: auto;
  height: 50px;
  /* Transición para el tamaño */
  transition: width 0.3s ease, height 0.3s ease;
}

/*BARRA DE NAV*/
.container-fluid {
  display: flex;
  margin-top: 0px;
  margin-left: 20px;

  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.col-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
}

/*SELECCIONA DISTRITO*/

.col-4 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  height: auto;
  width: auto;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

.col-4 h2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.col-4 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

.combustible {
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-top: 100px;
  text-decoration: none;
}

.combustible:hover {
  color: black;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  transition-duration: 0.1s;
}

/*About US*/

.container-AU {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  padding: 50px;
  backdrop-filter: blur(10px);
  color: white;
}


/*Integrantes*/



.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  /*background-color: white;*/
  border-radius: 20px;
  overflow: hidden;
  padding: 50px;

  background: transparent;

}